# Ecommerce Purchases Exercise Overview

Hi Guys,<br>
After a crash course on pandas for data analysis, its time to do some practice!!!<br>
Because of privacy issues, I have created a fake dataset here with 30K entries. <br>
The situation is, customers are providing some personal information while purchasing stuff on-line or in-store. For some reasons, your client wants to know the answer to some of his questions from the dataset, let's try to help him!.<br>

*Feel free to consult the solutions if needed. Please note, the tasks given in the exercises, can be solved in different ways. Try your best answer and compare with the solutions.* <br>
&#9758; The dataset is provided in the course downloads.

**1. Import Pandas and Read the csv file.**

In [ ]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Importing pandas and reading the CSV data
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/ML&DS/Pandas/Pandas_Assignment/Cust_Purch_FakeData.csv')

**2. Its good idea to see how the data look like, display first 5 rows of your data-set.**

In [ ]:
# Displaying first 5 rows of dataset
df.head()

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

**3. How many entries your data have?
Can you tell the no. of columns in your data?**

In [ ]:
# Printing dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

**4. What are the max and min ages of your customer? Can you find mean of your customer?**

In [ ]:
# Calculating Max, Min and Mean age of customers
print(f'Max. age of the customer is: {df["age"].max()}')
print(f'Min. age of the customer is: {df["age"].min()}')
print(f'Mean age of the customer is: {df["age"].mean():.2f}')

Max. age of the customer is: 65
Min. age of the customer is: 18
Mean age of the customer is: 41.55

**5. What are the three most common customer's names?**<br>
&#9989; [<code>**value_counts()**</code>](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) returns object containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [ ]:
# Displaying the three most common customer's name
df['first'].value_counts().head(3)

first
Willie     130
Francis    124
Eula        86
Name: count, dtype: int64

**6. Two customers have the same phone number, can you find those customers**?

In [ ]:
# Finding what phone number is twice!
df['phone'].value_counts().head(1)

phone
(263) 382-8004    2
Name: count, dtype: int64

In [ ]:
# Now we know the phone number, let's find out the other stuff!
df[df['phone']=='(263) 382-8004']

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

**7. How many customers have profession "Structural Engineer"?**

In [ ]:
# Counting the total number of customers who are 'Structural Engineer'
df[df['profession']=='Structural Engineer'].count()

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

In [ ]:

df[(df['profession']=='Structural Engineer') & (df['gender']=='Male')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
628,Miss,Walter,Jefferson,lo@yahoo.com,Male,29,HCA Inc.,Structural Engineer,(218) 765-4118,K0E 3J9,ON,5130000000000000,02/2020,JCB,79.94,Black,232.170.53.219,Thursday,am,12/02/1928
797,Dr.,Harriet,Foster,pegsooja@hotmail.com,Male,27,"BJ's Wholesale Club, Inc.",Structural Engineer,(268) 232-2925,R0Y 4T4,NL,5200000000000000,12/2028,Bankcard,85.57,Yellow,170.60.13.202,Monday,am,07/04/1939
1650,Mr.,Dustin,Ballard,irikehah@yahoo.com,Male,60,Capital One Financial Corp.,Structural Engineer,(464) 877-7366,P4E 6X1,BC,343000000000000,05/2026,Switch,95.67,Red,213.194.23.168,Thursday,am,03/15/1952
1891,Dr.,Callie,Ball,obuevpo@yahoo.com,Male,64,Lehman Brothers Holdings Inc.,Structural Engineer,(879) 759-2861,S5V 9C0,NS,4160000000000000,05/2024,Maestro,0.79,Green,160.101.90.85,Wednesday,pm,01/05/2042
2415,Dr.,Lina,Mason,feh@gmail.com,Male,39,Federated Department Stores Inc.,Structural Engineer,(465) 517-1903,X3H 1K4,NS,6270000000000000,04/2021,JCB,32.87,Blue,146.126.7.223,Friday,pm,03/06/2035
3275,Dr.,Amanda,Morgan,okoje@gmail.com,Male,38,Principal Financial Group Inc.,Structural Engineer,(260) 647-6494,R0O 4O7,BC,5020000000000000,05/2027,JCB,84.53,Black,50.225.168.164,Monday,am,05/18/2023
3315,Miss,Irene,Coleman,wu@gmail.com,Male,42,Johnson Controls Inc.,Structural Engineer,(403) 403-6290,X3D 3M1,NS,4900000000000000,07/2027,Visa Electron,14.06,Black,216.110.164.55,Monday,am,07/24/1986
4545,Mrs.,Craig,Riley,zut@yahoo.com,Male,62,"Dominion Resources, Inc.",Structural Engineer,(584) 590-2978,X7B 2G6,NU,30100000000000,10/2023,Discover Card,62.08,Green,90.104.50.229,Wednesday,am,01/15/1978
5361,Mr.,Lenora,Armstrong,miarita@ona.uy,Male,51,Veritas Software Corporation,Structural Engineer,(628) 408-3121,N2M 1J4,NT,5610000000000000,04/2020,Switch,12.23,Red,110.124.14.193,Wednesday,am,10/07/1916
6377,Dr.,Charlotte,Bell,tuihaba@uhahan.nu,Male,21,Hub Group Inc.,Structural Engineer,(204) 841-9176,P9T 6Q4,NS,6380000000000000,06/2026,Diners Club United States & Canada,56.31,Red,243.53.247.148,Saturday,pm,05/08/1923
7541,Mr.,Madge,Delgado,ba@ilbuf.ao,Male,65,ARAMARK Corporation,Structural Engineer,(749) 286-3389,B5L 2L3,BC,6380000000000000,07/2027,Diners Club enRoute,32.70,White,226.75.235.79,Saturday,am,04/18/1937
8425,Mrs.,Keith,Cohen,posmatdu@mojdaliba.in,Male,39,Fluor Corp,Structural Engineer,(278) 896-9253,J6D 1J3,BC,4210000000000000,04/2021,Diners Club enRoute,65.30,Green,238.44.116.64,Sunday,am,04/09/1910
9376,Mr.,Billy,Vaughn,ril@suwhow.bb,Male,19,Merrill Lynch & Co. Inc.,Structural Engineer,(851) 701-4426,M0D 7K5,NU,36700000000000,03/2025,China UnionPay,27.67,Red,83.228.100.179,Tuesday,pm,06/02/2025
9789,Miss,Ryan,Adkins,tipuko@zov.td,Male,34,Aon Corporation,Structural Engineer,(211) 824-9396,E0X 4F3,NL,5460000000000000,07/2022,Mastercard,36.77,Green,247.127.27.4,Wednesday,am,06/14/1916
12834,Mrs.,Patrick,Norman,sesilugi@live.com,Male,46,"E*Trade Group, Inc.",Structural Engineer,(680) 711-4432,L1V 9U6,NB,6300000000000000,03/2019,Discover Card,90.98,Black,172.178.124.83,Saturday,pm,05/05/1983
12885,Mrs.,Emma,Robinson,gifge@me.com,Male,35,York International Corp,Structural Engineer,(271) 772-2034,K0V 1T6,NT,342000000000000,07/2027,Visa Electron,78.29,Yellow,32.159.61.95,Friday,pm,04/27/2028
13002,Miss,Virgie,Reed,pevno@live.com,Male,30,The McGraw-Hill Companies Inc.,Structural Engineer,(904) 272-7443,T3A 1H8,SK,6330000000000000,10/2021,Solo,83.15,Red,218.189.82.83,Thursday,pm,10/09/2053
13047,Mr.,Jeanette,Bowman,kor@live.com,Male,46,Microsoft Corporation,Structural Engineer,(312) 717-3812,G9S 0S5,NT,4030000000000000,02/2024,Diners Club International,52.50,Blue,244.236.99.225,Thursday,am,08/27/2039
13707,Mr.,Esther,Sandoval,ilfu@live.com,Male,62,Scotts Company,Structural Engineer,(211) 244-7915,E8G 0W0,SK,5140000000000000,05/2021,Solo,15.24,Blue,83.176.200.99,Friday,pm,11/10/1920
14803,Miss,Mathilda,Harrison,boforkif@me.com,Male,34,TransMontaigne Inc,Structural Engineer,(861) 253-5489,N5L 8Z3,QC,4030000000000000,06/2028,Bankcard,47.90,Yellow,232.215.203.101,Saturday,pm,07/08/1915
14985,Miss,Calvin,Henderson,useelce@outlook.com,Male,31,FPL Group Inc.,Structural Engineer,(219) 287-2158,G9R 4G3,QC,4900000000000000,09/2020,Discover Card,33.39,Black,239.158.92.166,Wednesday,am,01/15/2023
15183,Dr.,David,Gomez,net@live.com,Male,36,Metaldyne Corporation,Structural Engineer,(275) 477-8689,L9E 1F1,NT,6210000000000000,11/2026,American Express,53.46,White,188.42.232.119,Saturday,am,09/06/1972
16539,Mrs.,Louise,Carter,oduiruem@be.ba,Male,61,TRW Inc,Structural Engineer,(250) 454-5223,T1P 1E7,MB,5610000000000000,07/2021,Discover Card,35.68,Yellow,208.227.126.139,Thursday,am,04/08/2037
17301,Miss,Virgie,McKenzie,jij@onufoh.al,Male,38,Southwest Airlines Co,Structural Engineer,(270) 678-4667,X7B 4U0,PE,4030000000000000,05/2020,Discover Card,15.18,Green,16.59.213.35,Saturday,am,06/29/2064
17811,Miss,Lettie,Ross,giga@tupjen.mv,Male,24,Eastman Kodak Company,Structural Engineer,(904) 718-7171,J7C 8X9,ON,344000000000000,04/2018,Mastercard,18.63,Black,232.215.78.124,Sunday,pm,04/27/1975
17856,Miss,Harry,Owen,mi@sodbag.hn,Male,27,UST Inc,Structural Engineer,(447) 452-9693,G0F 4J9,PE,347000000000000,01/2026,Solo,5.69,White,247.92.248.171,Wednesday,am,01/26/1900
18620,Mrs.,Jennie,Wallace,olaruri@wacuwok.pa,Male,30,JDS Uniphase Corp.,Structural Engineer,(667) 414-4810,P3C 5W2,MB,5020000000000000,03/2025,Diners Club International,76.98,White,92.128.249.91,Tuesday,am,02/05/2051
20708,Mr.,Anthony,Copeland,sobe@zad.pg,Male,33,Spherion Corp,Structural Engineer,(974) 992-4162,A5R 2E0,PE,6230000000000000,11/2020,American Express,41.16,Red,93.88.110.125,Sunday,pm,11/23/1936
21546,Dr.,Danny,Lewis,eti@ci.rs,Male,44,Teleflex Incorporated,Structural Engineer,(584) 538-9526,R6K 8J5,PE,201000000000000,10/2026,Bankcard,47.54,Red,19.225.158.240,Friday,pm,07/21/1919
22592,Mrs.,Lulu,Baldwin,viap@en.wf,Male,37,ITT Industries Inc.,Structural Engineer,(789) 293-3385,S8Q 3U6,PE,5120000000000000,02/2027,Visa Electron,8.90,Blue,150.103.88.238,Friday,am,02/28/1976
22698,Mr.,Steve,Atkins,tol@toh.eh,Male,22,Principal Financial Group Inc.,Structural Engineer,(314) 730-3263,E4X 9R6,NB,6010000000000000,12/2027,China UnionPay,83.52,Green,118.62.254.46,Saturday,am,09/06/2033
23174,Miss,Vernon,Graves,iz@uwa.gov,Male,37,Markel Corporation,Structural Engineer,(201) 867-7231,S2J 2L2,YT,6010000000000000,01/2025,Maestro,29.05,Blue,90.229.35.49,Tuesday,am,12/06/1917
23300,Dr.,Leona,Lawson,co@vihbuduw.om,Male,45,PeopleSoft Inc,Structural Engineer,(421) 743-9940,R3E 2Q9,NL,5020000000000000,06/2018,Discover Card,97.04,Blue,244.179.187.186,Friday,pm,07/14/1966
23466,Miss,Ruby,Ortega,dam@uvmonew.mx,Male,21,The May Department Stores Company,Structural Engineer,(804) 541-7812,N7T 9C8,NT,201000000000000,01/2019,InstaPayment,54.53,Yellow,81.240.226.151,Saturday,pm,07/01/2045
23982,Dr.,Phillip,Schneider,at@ke.ms,Male,19,Spartan Stores Inc,Structural Engineer,(388) 941-5483,N3R 9N0,ON,6010000000000000,01/2020,China UnionPay,13.02,Green,149.85.211.135,Tuesday,pm,02/12/1960
24141,Mr.,Wesley,Gibson,zup@wufgumvup.br,Male,54,Lennox International Inc.,Structural Engineer,(579) 624-5232,K0J 5B2,NB,6370000000000000,10/2026,InstaPayment,58.21,Green,132.223.55.51,Sunday,pm,06/01/1969
24818,Dr.,Fannie,Riley,igozez@esloh.li,Male,55,Lennar Corporation,Structural Engineer,(982) 622-2499,C5T 7Z8,BC,5200000000000000,10/2018,Visa,50.89,Yellow,212.30.116.116,Tuesday,pm,01/02/2018
26687,Mr.,Earl,Barton,zavet@gibu.si,Male,24,Adobe Systems Incorporated,Structural Engineer,(503) 507-2583,X0Z 7E8,NS,350000000000000,04/2027,InstaPayment,5.75,Yellow,180.116.15.226,Saturday,pm,04/08/1982
26862,Miss,Jared,Allen,ga@guku.to,Male,36,Lehman Brothers Holdings Inc.,Structural Engineer,(624) 878-4795,A5O 8C4,NS,4370000000000000,10/2018,Solo,95.92,Red,150.110.249.234,Sunday,pm,07/24/1954
26964,Mr.,Bernice,Mendoza,etake@oknustus.me,Male,20,Precision Castparts Corp,Structural Engineer,(442) 696-7689,B1O 8I6,YT,4030000000000000,11/2020,Maestro,90.84,White,206.14.196.199,Friday,am,12/01/1930
27115,Miss,Roy,Bowers,jelohlu@od.fk,Male,24,DQE Inc.,Structural Engineer,(821) 327-8294,T0J 4R9,SK,6370000000000000,08/2021,Diners Club International,94.15,White,33.78.158.122,Sunday,pm,06/26/1982
28059,Mrs.,Edwin,Fowler,otzuvwi@otiv.ne,Male,31,Progressive Corporation,Structural Engineer,(564) 602-4317,R3K 6D1,QC,6370000000000000,03/2025,Bankcard,63.52,Yellow,32.176.199.208,Monday,am,12/22/2041
29111,Dr.,Lilly,Page,fan@wuz.cf,Male,58,Tellabs Inc.,Structural Engineer,(628) 952-8876,G5P 7H4,NL,36600000000000,04/2025,China UnionPay,35.87,Blue,202.207.232.184,Saturday,pm,06/14/1975

**8. How many male customers are 'Structural Engineer'?**

In [ ]:
# Counting the total number of male customers who are 'Structural Engineer'
df[(df['profession']=='Structural Engineer') & (df['gender']=='Male')].count()

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

In [ ]:
df['gender'].value_counts()

gender
Female    15147
Male      14853
Name: count, dtype: int64

In [ ]:
df[(df['profession']=='Structural Engineer') & (df['gender']=='Female')].count()

prefix        44
first         44
last          44
email         44
gender        44
age           44
company       44
profession    44
phone         44
postal        44
province      44
cc_no         44
cc_exp        44
cc_type       44
price(CAD)    44
fav_color     44
ip            44
weekday       44
ampm          44
date          44
dtype: int64

**9. Find out the female Structural Engineers from province Alberta (AB)?**

In [ ]:
# Displaying female Structural Engineers from province Alberta (AB)
df[(df['profession']=='Structural Engineer') & (df['gender']=='Female') & (df['province']=='AB')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

**10. What is the max, min and average spending?**

In [ ]:
# Displaying max, min and average spending
print(f'Max. spending: {df["price(CAD)"].max()}')
print(f'Min. spending: {df["price(CAD)"].min()}')
print(f'Avg. spending: {df["price(CAD)"].mean():.2f}')

Max. spending: 100.0
Min. spending: 0.0
Avg. spending: 49.99

**11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!**

In [ ]:
# Displaying customers who didn't spend anything
df[df['price(CAD)']==0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

**12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?**

In [ ]:
# Displaying customers who spent 100 CAD or more
df[df['price(CAD)']>=100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

**13. How many emails are associated with this credit card number '5020000000000230'?**

In [ ]:
# Displaying emails are associated with the credit card number '5020000000000230'
df[df['cc_no']==5020000000000230][['email']]

             email
0  sebvajom@kol.km
1    acu@jatsot.ug

In [ ]:
df[df['cc_no']==5020000000000230]['email']

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

In [ ]:
df[df['cc_no']==5020000000000230][['email', 'first']]

             email    first
0  sebvajom@kol.km      Ray
1    acu@jatsot.ug  Claudia

In [ ]:
type(df[df['cc_no']==5020000000000230][['email']])

pandas.core.frame.DataFrame

In [ ]:
df['cc_no']==5020000000000230

0         True
1         True
2        False
3        False
4        False
         ...
29995    False
29996    False
29997    False
29998    False
29999    False
Name: cc_no, Length: 30000, dtype: bool

**14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?**<br>
*Use `sum()` and `count()` and see the difference in their use :)*

In [ ]:
df.head()

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [ ]:
# Displaying the number of cards are expiring in 2019
#using count
df[df['cc_exp'].apply(lambda x: x[5:]) == '19']

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
45,Mrs.,Winifred,Henderson,ezamaw@radi.kn,Female,43,Western Digital Inc,Relocation Manager,(250) 572-7482,K9C 2D2,BC,6300000000000000,12/2019,Laser,99.49,Blue,196.43.87.187,Wednesday,pm,07/21/2051
46,Miss,Carolyn,Horton,dehje@mowakbo.tj,Male,22,Stewart & Stevenson Services Inc,Employment Agent,(737) 647-5446,L1F 9E3,PE,4900000000000000,07/2019,InstaPayment,44.46,Yellow,135.153.126.179,Wednesday,pm,07/25/2010
49,Miss,Virgie,Adams,lodbinogu@ir.edu,Male,56,Maxtor Corporation,Systems Programmer,(764) 601-4889,B2O 6Z0,NB,3530000000000000,02/2019,Diners Club Carte Blanche,66.05,Red,175.149.148.141,Monday,am,05/15/2047
60,Mrs.,Blake,Hart,nup@pov.nc,Female,46,Kindred Healthcare Inc.,Computer Graphics Specialist,(719) 605-1004,X0O 5E1,PE,5480000000000000,10/2019,InstaPayment,89.87,White,164.16.206.229,Sunday,am,05/05/1942
66,Miss,Leila,Carpenter,ke@wufiol.wf,Male,21,W.W. Grainger Inc,Artist,(816) 775-3467,E5X 5V9,NS,5140000000000000,11/2019,Visa Electron,29.63,Green,99.203.101.232,Tuesday,am,01/28/1936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29952,Mr.,Julia,Elliott,zuruhmu@gevbon.th,Female,18,Gentiva Health Services Inc.,Management Consultant,(878) 729-1214,C6L 3S8,AB,6010000000000000,05/2019,Diners Club International,42.49,Blue,42.62.136.183,Saturday,am,10/17/2063
29957,Mrs.,Ronald,Stephens,beg@be.sc,Female,29,McDonald's Corporation,Geologist,(937) 288-1029,V4W 1T1,YT,5170000000000000,06/2019,Discover Card,17.32,Red,46.127.70.118,Monday,pm,12/05/1913
29959,Mrs.,Isaac,Guerrero,ji@rofom.ve,Male,21,Johnson Controls Inc.,Lawyer,(706) 297-1902,B9M 1U5,AB,5610000000000000,10/2019,Diners Club enRoute,26.69,White,207.217.50.132,Monday,pm,01/25/1958
29966,Mrs.,Hunter,Rodriguez,zubibil@fo.do,Female,26,Pharmacia Corp,Interior Decorator,(874) 494-4542,K1M 8T0,AB,3530000000000000,09/2019,InstaPayment,62.58,Green,108.20.175.201,Tuesday,am,09/10/1918
29987,Mr.,Billy,Lucas,hihdu@kuwze.hm,Female,38,Deluxe Corporation,Organizational Development Manager,(933) 517-6356,K6I 2U5,QC,36400000000000,03/2019,InstaPayment,21.17,Blue,72.8.98.51,Tuesday,pm,05/18/1929

In [ ]:
# Displaying the number of cards are expiring in 2019
# using sum
sum(df['cc_exp'].apply(lambda x: x[5:]) == '19')

2684

**15. How many people use Visa as their Credit Card Provider?**

In [ ]:
# Displaying number of customers who use Visa as their Credit Card Provider
# using count
print(df[df['cc_type']=='Visa'][['prefix']].count())
# using sum
print(f'Visa Credit Card User: {sum(df["cc_type"]=="Visa")}')

prefix    1721
dtype: int64
Visa Credit Card User: 1721

**16. Can you find the customer who spent 100 CAD using Visa?**

In [ ]:
# Displaying the customer who spent 100 CAD using Visa
df[(df['price(CAD)']==100) & (df['cc_type']=='Visa')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

**17. What are two most common professions?**

In [ ]:
# Displaying the two most common professions
df['profession'].value_counts().head(2)

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

**18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)**

In [ ]:
# Displaying top 5 most popular email providers
df['email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

email
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

**19. Is there any customer who is using email with "am.edu"?**<br>
Hint: Use `lambda` expression in `apply()`. split the email address at `@`.

In [ ]:
# Displaying customer who is using email with "am.edu"
lambda x: 'am.edu' in x.split('@')[1]
df[df['email'].apply(lambda x: 'am.edu' in x.split('@')[1])]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

**20. Which day of the week, the store gets more customers?**

In [ ]:
df['weekday'].value_counts().head()

weekday
Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: count, dtype: int64

In [ ]:
# Dispalying the day of the week, the store gets more customers
df['weekday'].value_counts().head(1)

weekday
Saturday    4376
Name: count, dtype: int64

# Excellent work!